/* css styles */

body {
  font-family: "Source Serif Pro", Times, serif;
}

a {
    color: #333;
    text-decoration: underline;
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    -ms-text-decoration: underline;
    -o-text-decoration: underline;
}

a:hover {
    color: #010101;
    background-color: #c5f5d8;
    text-decoration: underline;
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    -ms-text-decoration: underline;
    -o-text-decoration: underline;
}

div.quarto-about-jolla .about-link {
    color: #032462;
    text-decoration: none;
    border: solid 1px;
}

div.quarto-about-jolla .about-link:hover{
  color: #032462;
  background-color: #c5f5d8;
}

div#resume-links a {
    color: #032462;
    text-decoration: underline;
    font-weight: 600;
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    -ms-text-decoration: underline;
    -o-text-decoration: underline
}
