/* css styles */

body {
  font-family: "Source Serif Pro", Times, serif;
}

a {
    color: #333;
    text-decoration: underline;
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    -ms-text-decoration: underline;
    -o-text-decoration: underline;
}

a:hover {
    color: #010101;
    background-color: #c5f5d8;
    text-decoration: underline;
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    -ms-text-decoration: underline;
    -o-text-decoration: underline;
}

div.quarto-about-jolla .about-link {
    color: #032462;
    text-decoration: none;
    border: solid 1px;
}

div.quarto-about-jolla .about-link:hover{
  color: #032462;
  background-color: #c5f5d8;
}

div#resume-links a {
    color: #032462;
    text-decoration: underline;
    font-weight: 600;
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    -ms-text-decoration: underline;
    -o-text-decoration: underline
}

.menu-text {
    color: #c5f5d8;
}

.menu-text:hover{
  color: #404f46;
  background-color: #c5f5d8;
}

h1.title {
    color: #032462;
}

.navbar-dark {
    background-color: #032462;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #c5f5d8;
}

.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
  color: #c5f5d8;
}

.navbar-dark .navbar-brand {
    color: #c5f5d8;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #404f46;
  background-color: #c5f5d8;
}